<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ALDI UK | Homepage</title>
    <meta name="Homepage" content="">
    <meta name="viewport" content="width=device-width, initial-scaler=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="pages.css" type="text/css"/>
    <link rel="icon" href="" type="image/x-icon">
  </head>

  <body>


<header>
  <div>
    <h1>Sun Chemical - Returns Organiser</h1>
  </div>
</header>

<div>
  <div>
    <label for="typehead" class="correct_list"></label>
    <input name="text" type="text" maxlength="1000"   class="correct_list_input" placeholder="Enter List of Codes">
  </div>

  <div>
    <label for="typehead" class="incorrect_list"></label>
    <input name="text" type="text" maxlength="1000" class="incorrect_list_input" placeholder="Enter List of Codes from Rexson">
  </div>
</div>

<div>
  <div>
    <div>
      <button type="submit" class="items-button">Submit</button>
    </div>
    <label for="typehead" class="incorrect_list"></label>
    <output name="text" type="text" maxlength="1000" class="incorrect_list_input" placeholder="Enter List of Codes">
  </div>
</div>

</body>

</html>