

<%= form_with url: "/pages/result", method: :post do |form| %>
<div class="list_container">
  <div class="correct_list_container">
    <label for="typehead"></label>
    <textarea name="array1" type="text" maxlength="1000" class="correct_list_input" placeholder="Enter List of Codes"></textarea>
  </div>

  <div class="incorrect_list_container">
    <label for="typehead"></label>
    <textarea name="array2" type="text" maxlength="1000" class="incorrect_list_input" placeholder="Enter List of Codes from Rexson"></textarea>
  </div>

  <div class="submit_container">
      <button type="submit" class="items-button">Submit</button>
  </div>

</div>
<% end %>


<div class="output_container">
  <div>
    <label for="typehead"></label>
    <output name="output" for="array1 array2" type="text" maxlength="1000" class="incorrect_list_out" placeholder="Enter List of Codes"></output>
  </div>
</div>
